body {
    background-color: rgb(186, 245, 245);
    color: black;
}

.highlight {
    background-color: rgba(80, 77, 77, 0.356);
}

.navbar-style {
    background-color: rgba(0, 0, 0, 0.322) !important;
}